{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="100">
  <title>Document</title>
</head>
<body>
  <script>
    fetch("/patient_chart/{{data.id}}/",{
        method: 'POST',
    }).then(function(result){
        return result.json()
    }).then(function(data) {                
      var ctx = document.getElementById('myChart').getContext('2d');
      var miGrafico = new Chart(ctx, {
        type: 'line',
        data: {
          labels: data['labels'],
          datasets: [{
            label: 'Ventas',
            data: data['beats'],
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    })
  </script>
</body>
</html>
{% endblock %}